<!DOCTYPE html>
<html lang="en">
 <title>Sign In</title>
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>
    <div class="container" style="margin-top: -80px;">
      <% if(user){ %>
        <h1 style="text-align: center">Welcome To Phone Unlock App <%=user.username%>
        </h1>
        <%}else{ %>
          <h1 style="display: flex; justify-content: center; margin-top: 150px;">Welcome To Phone Unlock App.</h1>

          <div class="row">
            <div class="col-md-5 mx-auto">
              <div id="first">

                <form action="/auth/sign-in" method="POST" name="login">
                  <!-- this is the localhost:3000 path without any thing will transfer you to the form action -->
                  <br>
                  <br>
                  <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp"
                      placeholder="Enter Your User Name">
                  </div>
                  <br>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                      aria-describedby="emailHelp" placeholder="Enter Your Password">
                  </div>
                  <br>
                  <div class="col-md-14 text-center">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" onclick="pushNotify()">Login</button>
                  </div>
                  <div class="col-md-12 ">
                    <div class="form-group">
                      <br>
                      <br>
                      <p class="text-center">Don't have account? <a href="/auth/sign-up" id="signup">Sign up here</a>
                      </p>
                    </div>
                </form>

              </div>
            </div>
          </div>
    </div>
    </div>
    <% } %>
      </div>
         <script>
        function pushNotify() {
          
  new Notify({
    title: 'Phone Unlock',
    text: 'Thanks You Will Be Redirected Now To Your Dashboard',
    autotimeout: 4500,
  })
}
      </script>
     <!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.min.js"></script>
</body>

</html>