<nav>
  <div class="container">
    <div class="navbar">
      <h1 id="nav-header">Phone Unlock</h1>
      <div class="nav-links">
        <% if (user && user.username == "Admin") { %>
        <a href="#" class="btn btn-success"
          >My Balance is: <%= user.balance %></a
        >
        <a href="/auth/sign-out" class="btn btn-danger">Sign Out</a>
        <a href="/services/dashBoard" class="btn btn-danger">Home</a>
        <a href="/services" class="btn btn-danger">All Services</a>
        <% } else if (user) { %>
        <a class="btn btn-dark" style="margin-right: 20px" href="/addFund">
          Add Fund
        </a>
        <a href="#" class="btn btn-success"
          >My Balance is: <%= user.balance %></a
        >
        <a href="/auth/sign-out" class="btn btn-primary">Sign Out</a>
        <a href="/services/dashBoard" class="btn btn-primary">Home</a>
        <a
          href="/services/otherUsers?userId=<%= user._id %>"
          class="btn btn-primary"
          >My Services</a
        >
        <% } else { %>
        <a href="/auth/sign-in" class="btn btn-primary">Sign In</a>
        <a href="/auth/sign-up" class="btn btn-primary">Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
