<nav>
  <div class="container">
    <div class="navbar">
      <h1 id="nav-header">Phone Unlock</h1>
      <div class="nav-links">
        <% if (user && user.username == "Admin") { %>
        <a href="#" class="btn btn-success"
          >My Balance is: <%= user.balance %></a
        >
        <a
          href="/auth/sign-out"
          class="btn btn-danger"
          onclick="clearLoginNotification()"
          >Sign Out</a
        >
        <a
          href="/services/dashBoard"
          class="btn btn-danger"
          onclick="clearLoginNotification()"
          >Home</a
        >
        <a
          href="/services"
          class="btn btn-danger"
          onclick="clearLoginNotification()"
          >All Services</a
        >
        <% } else if (user) { %>
        <a
          class="btn btn-dark"
          style="margin-right: 20px"
          href="/addFund"
          onclick="clearLoginNotification()"
        >
          Add Fund
        </a>
        <a href="#" class="btn btn-success"
          >My Balance is: <%= user.balance %></a
        >
        <a
          href="/auth/sign-out"
          class="btn btn-primary"
          onclick="clearLoginNotification()"
          >Sign Out</a
        >
        <a
          href="/services/dashBoard"
          class="btn btn-primary"
          onclick="clearLoginNotification()"
          >Home</a
        >
        <a
          href="/services/otherUsers/<%= user._id %>"
          class="btn btn-primary"
          onclick="clearLoginNotification()"
          >My Services</a
        >
        <% } else { %>
        <a href="/auth/sign-in" class="btn btn-primary">Sign In</a>
        <a href="/auth/sign-up" class="btn btn-primary">Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
