<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UsersList</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1 style="text-align: center">Users Table</h1>
    <div class="col-md-14 text-center"></div>
    <table class="table table-bordered table-hover" style="text-align: center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <% users.forEach((user, index) => { %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= user.username %></td>
          <td>
            <button
              onclick="location.href='/services/otherUsers/<%= user._id %>'"
              class="btn btn-primary"
            >
              View Services
            </button>
          </td>
          <% }) %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
